:host {
    width: 45%;
}

.list {
    color: rgb(68, 68, 68);
    
    &__header {
        background-color: rgba(190, 190, 190, 0.671);
        border-radius: 15px;
    }

    &__title {
        display: inline-block;
        cursor: default;
    }

    &__add {
        color: rgb(68, 68, 68);
        border: none;
        margin-left: 30px;
        transform: translateY(5px);
        border-radius: 50%;
        font-size: 35px;
        line-height: 1;
        font-weight: bold;
        background-color: rgb(255, 255, 255);
        outline: none;
        cursor: pointer;
        transition: 0.2s;

        &--active {
            background-color: rgb(112, 112, 112);
            color: #fff;
        }
    }
}

.cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
    opacity: 0;
}